.bottom-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  margin: 20px;
}

.bottom-header-image {
  width: 100%;
  max-width: 600px; /* Ensure image does not exceed max width */
  margin-bottom: 20px; /* Add margin for spacing */
}

.bottom-header-text {
  color: #483434;
  font-size: 24px;
  text-align: justify;
  max-width: 80vw;
  margin: 20px 0px;
}

@media (min-width: 901px) {
  .bottom-header {
    flex-direction: row; /* Row layout for larger screens */
  }

  .bottom-header-image {
    margin-bottom: 0; /* Remove bottom margin for larger screens */
  }

  .bottom-header-text {
    font-size: 24px; /* Adjust font size for larger screens */
  }
}

@media (max-width: 900px) {
  .bottom-header {
    flex-direction: column; /* Column layout for smaller screens */
    text-align: center;
  }

  .bottom-header-text {
    font-size: 20px; /* Adjust font size for smaller screens */
  }
}
