.footer{
    background-image: url("dasarcf.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 90vh; 
    width: 100%;
}


@media (max-width: 768px){
    .footer {
        background-size: contain;
        min-height: 30vh;
    }
    
}