.footer {
    width: 100%;
    height: auto;
    object-fit: cover; /* Hiển thị hình ảnh mà không làm biến dạng nó, và lấp đầy phần tử cha */
    min-height: 90vh; /* Đảm bảo độ cao tối thiểu */
    background-image: url("dasarcf.png");
    background-repeat: no-repeat;
    background-position: center;
}

@media (max-width: 768px) {
    .footer {
        background-size: contain; /* Thay đổi kích thước để hình ảnh hiển thị toàn bộ */
        min-height: 30vh;
    }
}