html {
  position: relative;
  overflow-x: hidden !important;
}

a,
a:hover {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-flow: row;
  align-items: center;
  min-height: 110vh;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fa9b48 100%
  );
}

.nav-container {
  align-items: center;
  justify-content: center;
}

.scroll-list {
  width: 100%;
  max-width: 700px;
  padding: 25px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.scroll-list__wrp {
  width: 100%;
  height: 600px;
  overflow: auto;
  padding: 50px;
  box-shadow: 0px 7px 46px 0px rgba(41, 53, 108, 0.45);
  background: #4b1079;
  margin-bottom: 15px;
  border-radius: 8px;
  background-image: linear-gradient(147deg, #6e0777 0%, #380c70 74%);
}

.scroll-list__item,
.scroll-list__item_food {
  width: 100%;
  height: 200px;
  display: block;
  margin-bottom: 15px;
  border-radius: 8px;
  background-image: linear-gradient(147deg, #ff7c34 0%, #c31269 74%);
  transition: all 0.35s ease-in-out;
  opacity: 0;
  transform: scale(0.7);
  box-shadow: 0px 7px 16px 0px rgba(41, 53, 108, 0.25);
}

.scroll-list__item.item-hide {
  opacity: 0;
  transform: scale(0.7);
}

.scroll-list__item.item-focus {
  opacity: 1;
  transform: scale(1);
}

.scroll-list__item.item-next {
  opacity: 1;
  transform: scale(1);
}

.imageOrder {
  max-height: 220px;
}

.nameOrder {
  font-size: 50px;
  text-align: center;
  align-items: center;
  padding-top: 20px;
  font-family: "Grenze Gotisch", cursive;
  font-weight: 100;
  font-style: italic;
}

.typeOrderName {
  font-size: 50px;
}

@media (max-width: 768px) {
  .imageOrder {
    max-width: 10rem;
  }
  .wrapper {
    display: flex;
    flex-flow: column;
  }
  .nameOrder {
    font-size: 25px;
    text-align: center;
    align-items: center;
    padding-top: 20px;
    font-family: "Sansita Swashed", cursive;
    font-weight: 100;
    font-style: italic;
  }
}

.scroll-list__item {
  perspective: 1000px;
}

.scroll-list__item-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.scroll-list__item.is-flipped .scroll-list__item-inner {
  transform: rotateY(180deg);
}

.scroll-list__item-front, .scroll-list__item-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.scroll-list__item-back {
  transform: rotateY(180deg);
}
