.footer {
  position: relative;
}

.bubbles {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.bubble {
  position: absolute;
  bottom: -100px;
  width: var(--size);
  height: var(--size);
  background-color: bro(255, 255, 255, 0.7);
  border-radius: 50%;
  animation: rise var(--time) linear infinite;
  animation-delay: var(--delay);
  left: var(--position);
  transform: translateY(var(--distance));
}

@keyframes rise {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100vh);
  }
}

.image {
  display: block;
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
}
