@import "bootstrap/dist/css/bootstrap.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  background-color: #ede9ea;
}

@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300;400;600;700&display=swap");

header {
  text-align: center;
  width: 100%;
  position: relative;
  overflow: hidden;
}

header .header-background {
  position: absolute;
  right: 0;
  left: 0;
}

header .header-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("background.jpg");
  background-size: cover;
  filter: blur(8px);
  z-index: -1;
}

header .overlay {
  position: relative;
  padding: 20px;
  color: #fff;
  text-shadow: 1px 1px 1px #333;
}

h1 {
  font-family: "Dancing Script", cursive;
  font-size: 80px;
  margin-bottom: 30px;
}

h3,
p {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 30px;
}

button {
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  color: #333;
  background: #fff;
  margin-bottom: 50px;
  box-shadow: 0 3px 20px 0 #0000003b;
}

button:hover {
  cursor: pointer;
}

.nav-container {
  background-color: #ede9ea;
  padding: 10px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo-link {
  display: flex;
  align-items: center;
}

.logo {
  color: #ede9ea;
  max-width: 150px;
  height: auto;
}

.nav-menu {
  flex-basis: 8;
}

.nav-menu ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  background-color: #ede9ea;
  justify-content: center;
}

.nav-menu ul li {
  margin: 0 15px;
  text-align: center;
  color: black;
}

.nav-menu ul li:hover {
  border-bottom: 2px solid black;
}

.nav-menu ul li a {
  text-decoration: none;
  color: #333;
  font-size: 25px;
  display: block;
}

.nav-menu ul li a:hover {
  color: #6f4e37;
}

.menu-toggle {
  position: absolute;
  display: none;
}

@media (max-width: 768px) {
  .nav-menu ul {
    flex-direction: column;
    display: none;
  }

  .nav-menu.show ul {
    display: flex;
  }

  .menu-toggle {
    right: 50px;
    display: block;
    cursor: pointer;
    color: #333;
    font-size: 30px;
  }

  .nav-menu-sub {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-20px);
    transition: max-height 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
  }

  .nav-menu-sub.show {
    max-height: 500px; /* Adjust based on your content's height */
    opacity: 1;
    transform: translateY(0);
  }

  @media (forced-colors: active) {
    body {
      background-color: Canvas;
      color: CanvasText;
    }
  }
}
